*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 3em;
}
p{
    font-size: 1.20em;
}
ul{
    list-style-type: none;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: darkgrey;
}
li{
    font-size: 1.25;
}
.contenedor{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color: black;
    /*position: fixed;*/
    height: 80px;
    font-size: 20px;
    padding: 20px;
    }
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: whitesmoke;
    font-size: 1.6em;
    float: left;

}
/*header.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/
header .nav{
    /*display: flex;*/
    flex-direction: row;
    
}
.barra ul li{
    list-style: none;
    display: inline-block;
}
.barra{
    float: right;
}
.barra a{
    text-decoration: none;

}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}
header a:hover{
    color: blueviolet;
}

#hero h1{
    text-align: center;
    padding: 30px 12px;
}
#hero h2{
    text-align: center;
    padding: 30px 12px;
}
#hero p{
    text-align: center;
    padding: 20px 12px;
}
